<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="0; url=/post/details?id=<%= @params['post_id'] %>" />
</head>
<body>
	<script type="text/javascript">
	window.location.replace("/post/details?id=" + <%= @params['post_id'] %>);
	</script>
</body>
</html>